section.steps {
  .section-heading {
    margin-bottom: 50px;
  }
  .step {
    h3 {
      font-weight: 400;
      font-size: 3rem;
    }
    border: none;
    border-left: 4px solid white;
    border-image: linear-gradient(to bottom, $theme-tertiary, $theme-secondary) 1 100%;
    margin-bottom: 1rem;
    p {
      margin-bottom: .5rem;
    }
  }
}