section.steps {
  .section-heading {
    margin-bottom: 50px;
  }
  .step {
    h4.badge {
      border-radius: 0;
      font-size: 1.5rem;
      width: 40px;
      height: 40px;
      line-height: 28px;
      text-align: center;
    }
    h3 {
      font-weight: 400;
      font-size: 2rem;
    }
    border: 0;
    border-left: 2px solid white;
    border-image: linear-gradient(to bottom, $theme-secondary, $theme-tertiary) 1 100%;
    margin-bottom: 1rem;
    margin-top: 0;
    p {;
      margin-bottom: .5rem;
    }
  }
}