doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Discover the Potential of Your Influence')
        meta(property='og:type', content='website')
        meta(property='og:title', content='Boostin Media')
        meta(property='og:description', content='Discover the Potential of Your Influence')
        meta(name='author', content='')
        title Boostin Media
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='vendor/simple-line-icons/css/simple-line-icons.css')
        link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
        // Plugin CSS
        link(rel='stylesheet', href='device-mockups/device-mockups.min.css')
        // Custom styles for this template
        link(href='css/new-age.min.css', rel='stylesheet')
        // Google Tag Manager
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PQPJQQL');
        // End Google Tag Manager

    body#page-top
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PQPJQQL', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand(class='`js-scroll-trigger', href='/index.html#page-top')
                    include ../../img/logo.svg
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    i.fa.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/#influencers') Influencers
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/#brands') Brands
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='/#contact') Contact
        block body
        footer
            .container
                p © Boostin Media LLC 2018. All Rights Reserved.
                ul.list-inline
                    li.list-inline-item
                        a(href='privacy.html') Privacy
        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Plugin JavaScript
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        script(src='js/parallax.min.js')
        // Custom scripts for this template
        script(src='js/new-age.min.js')
