extends ./layouts/default.pug

block body
    header.masthead
        .container.h-100
            .row.h-100
                .col-lg-7.my-auto
                    .header-content
                        h1.mb-5 A better approach to influencer marketing
                        a.btn.btn-outline.btn-round-xl.js-scroll-trigger(href='#influencers')
                            include ../img/si-glyph-arrow-thin-down.svg
    section#influencers.features
        .container
            .row
                .col-lg-8
                    .section-heading
                        h2 Influencers
                        p.text-muted Let’s grow our business together
                        hr
                    p Easily recommend and showcase products you love in a stylishly designed, responsive and mobile-optimized personal shop page.
                    p Get up to 10% in advertising fees
                    p Earn advertising fees from qualifying purchases, not just the products you advertised.
                    p Plus, we select advertisers with competitive conversion rates to help your maximize your revenue
                    .section-button: a.btn.btn-primary.btn-xl.js-scroll-trigger.mb-5(href='https://boostin.hasoffers.com/signup') I'm an influencer
                .col-lg-4.my-auto
                    .device-container
                        .device-mockup.iphonex-portrait-dark
                            .device
                                .screen
                                    video(loop, autoplay, preload, muted, controls, playsinline).img-fluid
                                        source(src='/vid/demo-vid.mp4', type="video/mp4")
                                // (data-parallax='scroll', data-position-x='left', data-position-y='58px', data-position-y-mob='0px', data-border-radius-mob='30px', data-speed='0.2', data-image-src='/img/demo-diego-full.jpg')
                                // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else
                            a.btn.action-button.shadow(href='https://thepressident.gainswith.us', target='_blank'): i.fa.fa-external-link
                    .section-button.d-lg-none.d-xl-none: a.btn.btn-primary.btn-xl(href='https://thepressident.gainswith.us', target='_blank') See it in action
    section#howitworks.steps
        .container
            .row
                .col: .section-heading
                    h2 How does it work?
            .row
                .col-lg-15.step
                    h4.badge.badge-primary Step 1
                    h3 Sign up
                    p
                        | Get started by signing up
                        |
                        a.secondary(href='https://boostin.hasoffers.com/signup') here
                .col-lg-15.step
                    h4.badge.badge-primary Step 2
                    h3 Get Approved
                    p Your application is reviewed within 48 hours
                .col-lg-15.step
                    h4.badge.badge-primary Step 3
                    h3 Launch Shop
                    p Work with your personal account manager to launch your shop
                .col-lg-15.step
                    h4.badge.badge-primary Step 4
                    h3 Publish
                    p Publish your shop to your followers
                .col-lg-15.step
                    h4.badge.badge-primary Step 5
                    h3 Earn Money
                    p Start earning money on every sale
    section#brands.features
        .container
            .row
                .col-lg-8
                    .section-heading
                        h2 Brands
                        p.text-muted Drive more sales with our performance marketing platform
                        hr
                    p At boostin, we carefully select high-engagement influencers to review your products and publish their opinions to their dedicated followers.
                    p
                        | Once you join boostin, we will match your product or service with the most adequate
                        | influencers on our network. You will get genuine reviews from influencers who use your products.
                    p That's awesome because word of mouth is the most effective type of marketing:
                    p 93% of marketers are seeing results in improving brand exposure through influencer engagement
                    p 82% of consumers said they were highly likely to follow a recommendation made by a micro-influencer.
                    .section-button: a.btn.btn-primary.btn-xl.js-scroll-trigger(href='https://boostin.hasoffers.com/advertiser_signup') I'm a brand

    section.cta
        .cta-content
            .container
                h2 It's absolutely free to start your own shop
                a.btn.btn-outline.btn-xl.js-scroll-trigger(href='https://boostin.hasoffers.com/signup') Let's do this
        .overlay
    section#contact.contact
        .container: .row: .col-lg-6
            h2
                | We
                |
                i.fa.fa-heart
                |
                | new friends!
            form#contact-us
                .form-group
                    label(for='inputEmail') Email address
                    input#inputEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email', name="email")
                    small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                .form-group
                    label(for='inputName') Name
                    input#inputName.form-control(type='text', placeholder='Enter name', name="name")
                .form-group
                    label(for='textContent') Your inquiry
                    textarea#textContent.form-control(rows='3', name="content")

                button.btn.btn-primary.ls-0(type='submit') Send