extends ./layouts/default.pug

block body
    header.colored
    section.content.terms
        .container: .row: .col
            h1.mb-5 Terms and Conditions
            p.
                This Influencer Agreement (this "Agreement") govern your use of Boostin Media Ltd. (the "Company")
                website and the products, features, apps, services, technologies, and software we offer (the Products),
                except where we expressly state that separate terms (and not these) apply.
            p.
                Whereas, the Company has developed certain know how, methodology, internet and techniques and other
                tools and wishes to connect with the Influencer for the purpose of clients recruiting to third party
                Advertisers.
            p.
                And where as the Influencer declares that he has the professionalism, ability and willing to operate
                as an Influencer of the Company and promote third party Advertisers’s Offers using the Company’s
                Products.

            h3 Therefore the parties have agreed as follows:
            ol
                li
                    h5 SCOPE
                    ol
                        li.
                            The Influencer will use its best efforts to promote Company, within such territory as may
                            be specified, for the purpose of referring potential Clients to third party advertisers who
                            signed up with the Company.
                        li.
                            The Influencer shall bear all costs and expenses for such activities. Unless otherwise
                            determined by the parties, in writing.
                        li.
                            The Company will have the right to refuse to accept or to give service to any client and
                            or terminate its relations with any client, all at its sole discretion.
                        li.
                            The Influencer Shall comply with all applicable laws, rules, regulations and directives,
                            including but not limited to those relating to e-mail marketing and "spamming". Without
                            limiting the generality of the foregoing, the Influence Shall (a) not send any email
                            regarding The Company to any individual or entity that has not requested such information
                            (b) always include "unsubscribe" information at the top and bottom of any email regarding
                            The Company.
                        li.
                            The Influencer shall not post reviews or upload photos or videos containing private or
                            confidential information or do anything that violates someone else's rights, including
                            intellectual property.
                li
                    h5 COMPENSATION
                    ol
                        li The Influencer Shall be entitled to receive Compensation as set forth in Schedule 1 attached hereto.
                li
                    h5 TERMINATION
                    ol
                        li.
                            The Company may terminate this Agreement at any time, with or without cause,
                            with a 14 day written prior notice to the Influencer.  Without prejudice to any other
                            rights, the Company may terminate this Agreement with an immediate notice, upon any breach
                            of this contract by the Influencer which is not repaired, if it is repairable, within 7
                            working days upon a written demand given by the Company to the Influencer.
                li
                    h5 PERMISSIONS GIVEN TO THE COMPANY
                    ol
                        li.
                            The Company does not claim ownership of your content, but you grant the Company a license
                            to use it. When you post a review, or upload content that is covered by intellectual
                            property rights (like photos or videos) on or in connection with our Products, you hereby
                            grant to us a non-exclusive, royalty-free, transferable, sub-licensable, worldwide license
                            to host, use, distribute, modify, run, copy, publicly perform or display, translate, and
                            create derivative works of your content (consistent with your privacy and application
                            settings). You can end this license anytime by deleting your content or account.
                        li.
                            Permission to use your nickname, profile picture, and information about your relationships
                            and actions with Advertisers, Offers and other users of our Products.
                li
                    h5 PROPRIETARY RIGHTS
                    ol
                        li.
                            The parties expressly agree that all and any intellectual rights in the Products and any
                            business supporting the Products, including any changes or modifications that will be made
                            to the Products in the future by The Company, with or without connection to the Influencer,
                            are, and shall remain at all times, wholly and exclusively vested in The Company.
                            The Company expressly reserves all other rights not specifically granted herein to the
                            Influencer.
                        li.
                            During the term of this Agreement, The Company hereby grants to the Influencer a limited,
                            revocable, non-exclusive and non-transferable license to display the Company's brand name
                            and Property samples, solely as necessary to perform Influencer's obligations under this
                            Agreement.

                li
                    h5 LIMITATION OF LIABILITY AND INDEMNIFICATION
                    ol
                        li.
                            The Influencer agrees to indemnify, defend and hold harmless The Company and any The
                            Company Related Entities and the directors, officers, employees, subcontractors and agents
                            thereof (collectively, the "Indemnified Party"), with respect to any claim, demand, cause
                            of action, debt or liability, including reasonable attorneys' fees.
                li
                    h5 GENERAL PROVISIONS
                    ol
                        li.
                            The Parties to this Agreement are independent contractors. Neither Party is an agent,
                            representative or Related Entity of the other Party.
                        li.
                            Any notice, approval, request, authorization, direction or other communication under this
                            Agreement shall be given in writing and shall be deemed to have been delivered and given
                            for all purposes (a) on the delivery date if delivered personally or by e-mail to the
                            where the invoices are sent and received.
                        li.
                            The Influencer shall have no right to assign or otherwise transfer this Agreement, or any
                            of its rights or obligations hereunder, to any third party without The Company's prior
                            written consent, to be given or withheld in The Company's sole discretion.
                        li.
                            This Agreement shall be governed, construed and enforced in accordance with the laws of
                            UK. Each Party agrees that any legal action, proceeding, controversy or claim between the
                            Parties arising out of or relating to this Agreement may be brought and prosecuted only
                            in a court of law in UK, and by execution of this Agreement each Party hereto submits
                            to the exclusive jurisdiction of such court and waives any objection it might have based
                            upon improper venue or inconvenient forum. The exclusive jurisdiction of the UK courts.
                            However, The Company shall have the right, in order to collect funds owed to the Company
                            by the Influenceror to protect the Company's rights such as good-name, intellectual
                            property, privacy etc., to immediately bring legal proceedings against the Influencer,
                            in the Influencer's residency or territory of operation and according to the applicable
                            law there.
            h3 Schedule I - Compensation
            ol
                li.
                    The Influencer shall be entitled to Compensation based of 4% commission for all referred orders.
                li.
                    Payments are distributed monthly by the 25th of each month.
                li.
                    The Influencer will earn commission when a user clicks on his/her influencer link and makes a
                    verified purchase.
                li.
                    Purchase verification will be issued no earlier than 21 days following the purchase as long
                    as no cancellation and/or refund and/or chargeback orders have been issued. The company reserve
                    the right to offset such cancellation from current and future compensation entitled to the
                    Influencer.
                li.
                    The Company reserves the right to modify the Fee structure and/or the payment terms at any
                    time upon reasonable notice to the Referrer.
                li
                    | We accept the following payout methods:
                    ul
                        li Payoneer
                        li PayPal


